第14章/Examples_14_4/WCFDemo/WCFDemo/Service References/WCFService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/wcf/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/wcf/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/wcf/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_HelloWCF_InputMessage">
    <wsdl:part name="parameters" element="tns:HelloWCF" />
  </wsdl:message>
  <wsdl:message name="IService1_HelloWCF_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloWCFResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessage" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertMessage" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="HelloWCF">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/HelloWCF" message="tns:IService1_HelloWCF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/HelloWCFResponse" message="tns:IService1_HelloWCF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMessage" message="tns:IService1_GetMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMessageResponse" message="tns:IService1_GetMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertMessage" message="tns:IService1_InsertMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertMessageResponse" message="tns:IService1_InsertMessage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWCF">
      <soap:operation soapAction="http://tempuri.org/IService1/HelloWCF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertMessage">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost/wcf/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>